<div class="h-20 mt-auto bg-white py-4 items-center justify-center text-center">
    <b>Contattaci:</b> <a href="mailto:linea138@cosenzabustimetable.it">linea138@cosenzabustimetable.it</a>
    <br/><br/>
    <a target="_blank" href="https://icons8.com/icon/15137/bus">Bus</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>